extends layout

block layout-content
  div.View
    h1.Banner Fairwinds SRE Code Challenge
    div.Message
      div.Title
        h1 Webserver App
        h4 This is an example of a basic Node.js/ Express app.
        div.Description I am very familiar with Django and Flask, and had a lot of fun programming this so thought I'd take this opportunity to try something I'm less familiar with and make a very simple Express app.
      span.Details This app is running in a Docker container deployed on an EC2 instance in AWS.
    div.NavButtons
      a(href="/user")
          div.NavButton More on me
