extends layout

block layout-content
  div.View
    h1.Banner Fairwinds SRE Code Challenge
    div.Message
      div.Title
        h1 Webserver App
        h4 This is an example of a basic Node.js/ Express app.
        h4 I am very familiar with Django and Flask, so thought I'd try an Express app to get some practice.
      span.Details This app is running in a Docker container deployed on an EC2 instance.
    div.NavButtons
      a(href="/user")
          div.NavButton More on me
